@media only screen and (min-width: 961px) {
.content{
    margin-top: 13rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.form-searcher {
    padding: 1rem;
    
}
.youtube-searcher{
    padding: 10px;
    width: 40vmax;
    border-radius: 2px;
    border: 2.5px solid #313131;
    color: #111;
    font-size: 20px;
    background-size: 1.5rem 1.5rem;
    background-color: #fff;
}
.video-list{
    margin: 1rem;
    margin-left: 3rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-grow: 1;
}
.video-list article{
    margin: 15px;
    justify-content: center;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 }
 .video-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
     flex-grow: 1;
 }
 .sobe {
    margin-top:0.5rem;
 }
 .content button{
     margin-left:20px ;
     border:none;
     background-color: transparent;
 }
 .video-list article a {
    height: 30px;
    border-radius: 5px;
    border: 2px solid #47067c;
    background: none;
    margin-top: 10px;
    color: #47067c;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
    
}
.infinite-scroll-component  {
    margin: 1rem;
    margin-left: 1rem;
    margin-left: 3rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.infinite-scroll-component  article{
    margin: 15px;
    justify-content: center;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 }
 .infinite-scroll-component  article a {
    height: 30px;
    border-radius: 5px;
    border: 2px solid #47067c;
    background: none;
    margin-top: 10px;
    color: #47067c;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
    
}

}
 @media only screen and (max-width: 500px) {
    .content{
        margin-top: 13rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.5s;
    }
    .content button{
        margin-left:20px ;
        border:none;
        background-color: transparent;
    }
    
    .form-searcher {
        padding: 1rem;
        
    }
    .youtube-searcher{
        padding: 10px;
        width: 40vmax;
        border-radius: 2px;
        border: 2.5px solid #313131;
        color: #111;
        font-size: 20px;
        background-size: 1.5rem 1.5rem;
        background-color: #fff;
    }
    .infinite-scroll-component{
        margin: 50px;
        display: block;
    }
    .infinite-scroll-component  article a {
        height: 30px;
        border-radius: 5px;
        border: 2px solid #47067c;
        background: none;
        margin-top: 10px;
        color: #47067c;
        font-weight: bold;
        font-size: 16px;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.2s;
        
    }
 }